get_prop(audioserver, vendor_default_prop)

allow audioserver vendor_file:file { execute getattr open read };

allow audioserver audio_device:chr_file { ioctl open };

allow audioserver audio_device:dir { search };

allow audioserver hal_power_service:service_manager { find };

allow audioserver proc_asound:dir { search };

allow audioserver proc_asound:file { getattr read open };

allow audioserver system_data_file:sock_file { write };
